


<% include partials/header %>

<div class="container">
	<p>Grazie per esserti registrato a JPP. Riceverei una comferma di attivazione del tuo account non appena verrà veririfcato da un nostro operatore.</p>
	<p>MANDI</p>

      
</div><!-- /.container -->






<% include partials/footer %>
