


<% include partials/header %>

<div class="container" style="align-items: center; justify-content: center;">
	
	<div class="alert alert-success" role="alert">
	  Grazie per esserti registrato a JPP. Riceverei una conferma di attivazione del tuo account tramite email.
	</div>
      
</div><!-- /.container -->






<% include partials/footer %>
